.contact {
  width: 100%;
}

.contact p {
  margin-bottom: 48px;
}

.container h2 {
  text-shadow: 1px 1px var(--text-white);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}


@media (max-width: 830px) {
  .container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}