.card {
  border-radius: 3px;
  padding: 20px;
  -webkit-box-shadow: 4.5px 4.5px 0 2px var(--shadow);
  -moz-box-shadow: 4.5px 4.5px 0 2px var(--shadow);
  box-shadow: 4.5px 4.5px 0 2px var(--shadow);
}

.card .block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.card .block > div:first-child {
  flex-grow: 1;
}

.card .block .blockText h3,
.card .block .blockText p {
  color: white;
}

.card .block .button {
  width: 100%;
  color: var(--text-black);
  padding: 7px 0;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--page-bg);
}

.card .block .button:hover {
  outline: 3px solid var(--primary);
}